
{cover_enabled, true}.

{erl_opts, [
	debug_info, {parse_transform, lager_transform}
    % debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{deps, [
	{nklib, {git, "https://github.com/netcomposer/nklib", {branch, "ng"}}},
  	{riak_core, {pkg, riak_core_ng}},
	{riak_dt, "2.1.1"}
]}.



{project_plugins, [
	{rebar3_cuttlefish, "0.8.0"}
]}.


% {cuttlefish, [
% 	{file_name, "nklib.conf.example"}, {schema_discovery, false}
% ]}.

%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.


{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false}, 
            {include_erts, true}
        ]}
    ]}
]}.


{relx, [
    {release, {nkdist, "0.0.1"}, [
        sasl,
        runtime_tools,
        nkdist,
        {cuttlefish, load},
        {recon, load},
        {eper, load}
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/shell.config"},
    {overlay_vars, "config/vars.config"},
    {overlay, [
        {template, "config/nkdist-admin", "bin/nkdist-admin"}

    ]}
]}.






% {relx, [
% 	{release, {nklib, "0.0.1"}, [
% 		sasl,
% 		runtime_tools,
% 		nklib,
% 		{cuttlefish, load},
% 		{recon, load},
% 		{eper, load}
% 	]},

% 	{dev_mode, true},
% 	{include_erts, true},
% 	{generate_start_script, false},
% 	{overlay_vars, "rel/vars.config"},
% 	{overlay, [
% 		{mkdir, "etc"},
% 		{mkdir, "share"},
% 		{copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
% 		{copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},

% 		{template, "rel/files/nklib", "bin/nklib"},
% 		{template, "rel/files/nklib-admin", "bin/nklib-admin"},

% 		{copy, "share/dtrace", "share/dtrace"},
% 		{template, "share/nklib-diag", "share/nklib-diag"},
% 		{template, "share/nklib.xml", "share/nklib.xml"},

% 		{template, "schema/nklib.schema", "share/schema/00-nklib.schema"},
% 		{template, "schema/oauth.schema", "share/schema/01-oauth.schema"},
% 		{template, "_build/default/lib/bugsnag/priv/bugsnag.schema", "share/schema/02-bugsnag.schema"},
% 		{template, "schema/erlang_vm.schema", "share/schema/03-vm.schema"},
% 		{template, "_build/default/lib/esel/priv/esel.schema", "share/schema/04-esel.schema"},
% 		{template, "_build/default/lib/riak_core/priv/riak_core.schema", "share/schema/05-riak_core.schema"},
% 		{template, "_build/default/lib/fifo_lager/priv/lager.schema", "share/schema/06-lager.schema"},
%     	{template, "_build/default/lib/fifo_db/priv/fifo_db.schema", "share/schema/07-fifo_db.schema"},
%     	{template, "_build/default/lib/fifo_db/priv/eleveldb.schema", "share/schema/08-eleveldb.schema"},
%     	{template, "_build/default/lib/mdns_server_lib/priv/mdns_server.schema", "share/schema/09-mdns_server.schema"},
%     	{template, "_build/default/lib/folsom_ddb/priv/folsom_ddb.schema", "share/schema/10-folsom_ddb.schema"},
%     	{template, "schema/riak_sysmon.schema", "share/schema/11-riak_sysmon.schema"},
%     	{template, "_build/default/lib/folsom_ddb/priv/folsom_ddb.schema", "share/schema/12-folsom_ddb.schema"},
%     	{template, "schema/snmp.schema", "share/schema/13-snmp.schema"},
%     	{copy, "apps/nklib/mibs/SNARL-MIB.mib", "share/SNARL-MIB.mib"},
%     	{copy, "snmp", "snmp"}
%    	]}
% ]}.

