% {lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{riak_core, ".*", {git, "http://github.com/basho/riak_core", {branch, "develop"}}},
	{nklib, ".*", {git, "http://github.com/nekso/nklib", {branch, "develop"}}}
]}.



