% {lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{riak_core, ".*", {git, "http://github.com/basho/riak_core", {tag, "2.1.2"}}},
	{riak_dt, ".*", {git, "https://github.com/basho/riak_dt", {tag, "2.1.1"}}},
    % {cluster_info, ".*", {git, "git://github.com/basho/cluster_info.git", {branch, "develop"}}},
	{sext, ".*", {git, "https://github.com/uwiger/sext.git", {tag, "1.2"}}},
	{nklib, ".*", {git, "http://github.com/nekso/nklib", {branch, "master"}}}
]}.



