[
    {setup, [
        {data_dir, "./data"},
        {log_dir, "./log"}
    ]},

    {riak_core, [
        {handoff_port, 8105},
        {platform_data_dir, "./data/5"},
        {ring_state_dir, "./data/5/ring"},
        {ring_creation_size, 8},
        {enable_consensus, true},
        {handoff_concurrency, 2},
        {schema_dirs, ["schema", "_build/default/lib/riak_core/priv/"]}
    ]},

    {riak_sysmon, [
        {busy_dist_port,true},
        {busy_port,true},
        {port_limit,2},
        {process_limit,30},
        {gc_ms_limit,0},
        {schedule_ms_limit,0},
        {heap_word_limit,20055500}
    ]},

   	{lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/5/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/5/console.log"}, {level, info}]}
        ]},
        {error_logger_redirect, false},
        {crash_log, "log/5/crash.log"},
        {colored, true},
        {colors, [
            {debug,     "\e[0;38m" },
            {info,      "\e[0;32m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" }
        ]}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].
